[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cmake = "*"
opencv-python = "*"
dlib = "~=19.18"
face-recognition = "*"

[requires]
python_version = "3.8"
